
*.log

.idea/

src/pt_pump_up.egg-info/

thrash/*
.vscode/*

out/
src/backend/laravel/public/images
src/backend/laravel/.blueprint

package-client/publish.sh

package-admin/setup.py

package-client/setup.py
web/php
web/.blueprint
web/.blueprint

package-admin/.vscode/
package-admin/tests/crawlers/data/papers_with_code_tasks.json
package-orms/src/pt_pump_up_orms.egg-info/PKG-INFO
